{% include "User/partials/header.html" %}
<meta charset="UTF-8">

<div class="assistant-container">

    <h1 class="title">AI GNI</h1>

    <div class="orb"></div>

    <p class="listening">Listening...</p>

    <h2>AI Assistant</h2>

    <div><strong>Recognized Command:</strong></div>
    <div id="command"></div>

    <div><strong>Assistant Response:</strong></div>
    <div id="response"></div>

</div>

{% include "User/partials/footer.html" %}

<script src="/static/User/assistant.js?v={{ time }}"></script>